.tech__container{
  margin-left: 20px;
}

.tech__list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.tech__item{
  display: flex;
  align-items: center;
  margin-left: 10px;
  min-width: 155px;
  background-color: #E9D0A5;
  border-radius: 15px 0px 15px 0px;
}

.tech__label{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 10px 0;
  background-color: #E7CA98;
  border-radius: 0px 0px 15px 0px;
}