.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    background-color: #B67200;
}

.modal__header-gradient{
    width: 100%;
    height: 8px;
    background: linear-gradient(#B67200 15%, #EED9B5 100%)
}